<h1>Edit your Restaurant</h1>

<%= form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.submit %>
<% end %>


<%= link_to "Delete", restaurant_path(@restaurant),
  method: :delete,
  data: {confirm: "Are you sure you want to delete this restaurant? You won't be able to get it back!"} %>

  <%= link_to "Back to overview", restaurants_path %>

